<%# About %>
<h5> This e-commerce app bring all the best in makeup and perfumery that you can find it in the market.</h5>

<%= image_tag("makeup.jpg", class: "img-fluid") %>

<p>All you need is here.</p>
