<p>Welcome! The date and time is <%= Time.now %></p>
<%# Home %>
<h1>Welcome to Santo Varal Store</h1>
<p>Your source for makeup and perfumery.</p>

<%= image_tag("eyeshadow1.jpg", class: "img-responsive") %>
<% end %>
