<div class="panel panel-default simple-pages-thank-you">
  <div class="panel-body">
    <p class="message-thanks">Thank you. We have received your message and will respond as soon as possible.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->
