<div class="panel panel-default payment-confirmation">
<div class="panel-body">
<p class="message-payment">We've successfully processed your payment.</p>
</div><!-- / panel-body -->
</div><!-- / panel -->
