/* line 8, /Users/renatavitoi/Desktop/santo_varal_store/app/assets/stylesheets/products.scss */
.container-fluid {
  margin-botton: 25px;
}

/* line 12, /Users/renatavitoi/Desktop/santo_varal_store/app/assets/stylesheets/products.scss */
.productImage {
  width: 100%;
  height: auto;
}

/* line 17, /Users/renatavitoi/Desktop/santo_varal_store/app/assets/stylesheets/products.scss */
.productName {
  font-size: 3em;
  padding-top: 30px;
}

/* line 22, /Users/renatavitoi/Desktop/santo_varal_store/app/assets/stylesheets/products.scss */
.body {
  padding: 30px;
  botton: 20px;
}

/* line 27, /Users/renatavitoi/Desktop/santo_varal_store/app/assets/stylesheets/products.scss */
.averageRating {
  font-size: 1.5em;
  font-style: verdana;
}
/* line 1, /Users/renatavitoi/Desktop/santo_varal_store/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 10, /Users/renatavitoi/Desktop/santo_varal_store/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 16, /Users/renatavitoi/Desktop/santo_varal_store/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 22, /Users/renatavitoi/Desktop/santo_varal_store/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 25, /Users/renatavitoi/Desktop/santo_varal_store/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 29, /Users/renatavitoi/Desktop/santo_varal_store/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /Users/renatavitoi/Desktop/santo_varal_store/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 39, /Users/renatavitoi/Desktop/santo_varal_store/app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 44, /Users/renatavitoi/Desktop/santo_varal_store/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 49, /Users/renatavitoi/Desktop/santo_varal_store/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 53, /Users/renatavitoi/Desktop/santo_varal_store/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 59, /Users/renatavitoi/Desktop/santo_varal_store/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 66, /Users/renatavitoi/Desktop/santo_varal_store/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}
/* line 76, /Users/renatavitoi/Desktop/santo_varal_store/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 82, /Users/renatavitoi/Desktop/santo_varal_store/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/* line 5, /Users/renatavitoi/Desktop/santo_varal_store/app/assets/stylesheets/simple_pages.scss */
* {
  box-sizing: border-box;
}

/* line 9, /Users/renatavitoi/Desktop/santo_varal_store/app/assets/stylesheets/simple_pages.scss */
.navbar-nav {
  flex-direction: row;
}

/* line 13, /Users/renatavitoi/Desktop/santo_varal_store/app/assets/stylesheets/simple_pages.scss */
.nav a:hover {
  color: black;
}

/* line 17, /Users/renatavitoi/Desktop/santo_varal_store/app/assets/stylesheets/simple_pages.scss */
.navbar-nav li {
  margin-right: 15px;
}

/* line 21, /Users/renatavitoi/Desktop/santo_varal_store/app/assets/stylesheets/simple_pages.scss */
.navbar-brand {
  font-size: 1.3em;
}

/* line 25, /Users/renatavitoi/Desktop/santo_varal_store/app/assets/stylesheets/simple_pages.scss */
.nav {
  z-index: 1;
}

/* line 29, /Users/renatavitoi/Desktop/santo_varal_store/app/assets/stylesheets/simple_pages.scss */
.carrousel-caption {
  background-color: #0C0000;
  font-size: 2rem;
  margin: 0 auto;
  padding-top: 65px;
  height: 100px;
}

/* line 37, /Users/renatavitoi/Desktop/santo_varal_store/app/assets/stylesheets/simple_pages.scss */
.column {
  width: 33.3333333;
  margin: 100px;
  padding-top: 100px;
  display: inline-block;
}

/* line 44, /Users/renatavitoi/Desktop/santo_varal_store/app/assets/stylesheets/simple_pages.scss */
.button {
  border-radius: 2px;
}
/*
* This is a manifest file that' ll be compiled into aplication.CSS, which will
be include all the files
* listed below
*
* Any CSS and SCSS files within directory, lib/assets/stylesheets,
vendor/assets//stylesheets,
* or vetor plugin's vendor/assets/stylesheets directory can be referenced here
using a relative path.
*
* You're free to add application-wide styles to this file and they will appear
at the bottom of the compiled file so the styles you add here take precedence
over styles defined in any in any other CSS/SCSS files in this directory,
Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
/*



*/

.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  font-size: 2em;
}

@font-face {
  font-family: "raty";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/raty.eot");
  src: url("fonts/raty.eot?#iefix") format("embedded-opentype");
  src: url("fonts/raty.svg#raty") format("svg");
  src: url("fonts/raty.ttf") format("truetype");
  src: url("fonts/raty.woff") format("woff");
}

.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "raty";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.cancel-on-png:before {
  content: "\e600";
}

.cancel-off-png:before {
  content: "\e601";
}

.star-on-png:before {
  content: "\f005";
}

.star-off-png:before {
  content: "\f006";
}

.star-half-png:before {
  content: "\f123";
}
