<div class="panel panel-default message-thank-you">
  <div id="user">
  <div class="panel-body">
    <p class="message-thanks">Thank you for your purchase.</p>
    </div>
  </div><!-- / panel-body -->
</div><!-- / panel -->
