// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



* {
	box-sizing: border-box;
}

.container-fluid {
  margin-bottom: 25px,
}

img {
	border: 1px solid grey;
	padding: 20px;
	margin-top: 30px;
}

body {
position: relative;
font-size: 2em;
height: 20px;
margin: 0 0 4em;
text-align: left;
margin: 30px;
}

.rating > label {
  float: left;
  height: 0px;
  margin: 0px;
  font-size: 1.5em;
  position: relative;
  width: 33,333333%;
}

.form-group {
  text-align: left;
}

.button-subimit {
  padding: 20px;
}
