// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



* {
	box-sizing: border-box;
}

.container-fluid {
  margin-botton: 25px,
}

img {
  border: 2px solid grey;
  width: 100%;
  height: auto;
  font-size: 1em;
  padding-top: 30px;
  margin: 5px;
  padding: 5px
}

body {
  padding: 30px;
  botton: 20px;
  margin: 33,333333%;
}

.rating > label {
  float: left;
  height: 0;
  margin: 0;
  font-size: 4em;
  position: relative;
  width: 33,333333%;
}

.form-group {
  text-align: left;
}

.button {
  padding: 20px;
}
