// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.container-fluid {
  margin-botton: 25px,
}

.image {
  width: 100%;
  height: auto;
  font-size: 3em;
  padding-top: 30px;
  border-color: grey;
  margin: 5px;
  padding: 5px
}

.groove { border-style: groove; }

body {
  padding: 30px;
  botton: 20px;
  margin: 33,333333%;
}

.rating > label {
  float: left;
  height: 6px;
  margin: 0px;
  padding-bottom: 0 10px;
  font-size: 15px;
  position: relative;
}

.form-group {
  text-align: left;
}

.button {
  padding: 20px;
}
