// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// COLOR PALLET
// background-color: #ff1f70!important;
// color: #333232;
* {
	box-sizing: border-box;
}

a:visited {
	color: #434343;
}

a:hover {
	background-color: transparent;
	cursor: pointer;
}

a {
	color: #434343;
	text-decoration: none;
}

.logo {
	font-weight: bold;
	text-transform: uppercase;
}

.logo-secondary-color {
	color: #ff1f70;
}

.navbar-nav {
	flex-direction: row;
}

.nav a:hover {
	color: white;
	background-color: black;
}

.navbar-nav li {
	margin-right: 15px;
}

.navbar-nav .nav-item {
	text-transform: uppercase;
}

.navbar-nav .nav-item:hover {
	transform: scale(1.2);
}

.navbar-brand {
	font-size: 1.4em;
}

.nav {
	z-index: 1;
}

.search-form-button {
	padding: 15px;
	bottom: 15px;
}

.carrousel-caption  {
	color: #FCFBFB;
	background-color: #FCFBFB;
	font-size: 2rem;
	margin: 0 auto;
	padding-top: 75px;
	height: 100px;
}

.carrousel-image {
	width: 100%, !important
}
.column {
	width: 33.3333333;
	margin: 100px;
	padding-top: 100px;
	display: inline-block;
}

body {
	padding: 0;
	margin: 0;
	color: #333232;
}

h1 {
	text-align: center;
	font-size: 2.5rem;
	margin-bottom: 1.0rem;
	padding: 1.0rem;
	background-image: 100px;
}

h2,h4, h5, h6 {
	font-size: 2.0rem;
	margin-bottom: 1.5rem;
	padding: 1.5rem;
	background-image: 100px;
	text-align: center;
}

.button-form {
	border-radius: 20px;
}

.search-form-button {
	padding: 1em;
	margin: 20px;
	border: 1px;
	border-color: groove solid grey;
}

// Footer
.site-footer {
	color: black;
	background-color: #FFFFFF;
	flex-direction: row;
	padding: 30px;
	margin-bottom: 50px;
	text-align: center;
	bottom: 100px;
}

// About

.content-about {
	width: 70px;
	margin: auto;
	text-align: left;
}

.about-image {
	width: 100%;
}


//contact

.content-contact {
	margin: 20px;
	padding: 20px;
}

.form-group {
	text-align: left;
}

.form-control {
	position: relative;
	border: 1px;
	border-color: groove solid grey;
	border-style: solid;
	padding: 3px, 6px;
	font-size: 1em;
	border-radius: 0.5em;
	margin: 0.7em 0.5em;
	display: block;
}


// Media queries

@media only screen and (max-width: 768px) {

	.navbar-nav, .in {
		background-color: #1C2331;
		position: relative;
		top:100px;
		right: 0;
	}
}
