<%# About %>

<h6> This e-commerce app bring all the best in makeup and perfumary that you can find it in the market.</h6>

<%= image_tag("makeup2.jpg", class: "img-responsive") %>

<p>All you need is here.</p>
